body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
textarea {
    width: 200%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#saveBtn {
    background-color: #4CAF50;
    color: white;
}
#loadBtn {
    background-color: #008CBA;
    color: white;
}
